<!DOCTYPE html>
<!--
Llamar fragmento desde plantilla => <footer th:replace= "/fragments/footer :: head"> </footer>
-->
<!--
  <footer class="mt-auto text-white-50 bg-black border-top">
    <p>Talento Red &copy; Todos Los Derechos Reservados 2023.</p>
    <div>
      <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a>
      <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
    </div>
  </footer>
-->
<!--
    
<div class="b-example-divider"></div>

<div class="container">
-->

<div class="b-example-divider"></div>


<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Nosotros</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">¿Quienes Somos?</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                     <img   src="image/logo.jpeg"   width="140"  height="50" alt="logo_talentoRed">
                </a>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>&copy; 2023 TALENTO RED, Todos Los Derechos Reservados.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
                    <li class="ms-3"><a href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a></li>
                    <li class="ms-3"><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
    </footer>
</div>
        
        