<!DOCTYPE html>
<!--
Llamar fragmento desde plantilla => <footer th:replace= "/fragments/footer :: head"> </footer>
-->
  <footer class="mt-auto text-white-50 bg-black border-top">
    <p>Talento Red &copy; Todos Los Derechos Reservados 2023.</p>
    <div>
      <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a>
      <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
    </div>
  </footer>
