<!DOCTYPE html>
<!--
Llamar fragmento desde plantilla => <navbar th:replace= "/fragments/navbar :: navbar"> </navbar>
-->
<navbar class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 link-body-emphasis text-decoration-none text-dark" href="#">Como funciona?</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none text-dark" href="#">Nosotros</a>
    <li class="nav dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Registrarse</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/registrar">Quiero ser Cliente</a></li>
            <li><a class="dropdown-item" href="#">Quiero ser prestador</a></li>
        </ul>
    </li>

    <a class="me-3 py-2 link-body-emphasis text-decoration-none text-dark" href="/iniciosesion">Iniciar Sesion</a>
    <!--
    <div class="text-end">
        <button type="button" class="btn btn-primary">Resgistarse</button>
        <button type="button" class="btn btn-primary">Iniciar Sesión</button>
    </div>
    -->
</navbar>
