<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head 
    :replace= "/fragments/head :: head"> 
<!--estilos-->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
<link rel="stylesheet" href="./estilos.css">
<meta name="theme-color" content="#7952b3">


</head>

  <body class="d-flex h-100 text-center text-bg-ligth">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> 
  <!-- header section start -->  
  <header class="mb-auto border-bottom">
        <nav>
              <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <!--inicio logo-->
                <a th:replace= "/fragments/logo :: a"> </a>
                <!--fin logo-->                  
                    <!--inicio navbar-->
                    <navbar th:replace= "/fragments/navbar :: navbar"> </navbar>
                    <!--fin navbar-->
              </div>
        </nav>
    </header>
 
<!--Barra lateral-->

<div class="sidebar">
    <h2>Elegí un rubro </h2>
    <ul>
      <li><a href="#mecanica">Mecanica</a></li>
      <li><a href="#electricidad">Electricidad</a></li>
      <li><a href="#jardineria">Jardineria</a></li>
      <li><a href="#tecnico">Tecnico</a></li>
      <li><a href="#plomeria">Plomeria</a></li>
      <li><a href="#gasista">Gasista</a></li>
      <li><a href="#cerrajeria">Cerrajeria</a></li>
      <li><a href="#reformas">Reformas</a></li>
      <li><a href="#herreria">Herreria</a></li>
  
  
      <br><br><br><br>
      <hr>
  
      <li><a href="#arriba">Arriba</a></li> <!--esta linea debe apuntar al navbar del fragment-->
  
    </ul>
  </div>
  <div id="rubros" class="content">
  
  
  </div>
  


  <main >

    <!--Cuerpo de la pagina con cards-->

<body>
    <!--La vista de las tarjetas de profesionales sera una sola dividida por rubro en <div>  -->


    <div class="contenedor-gral">

  
      <h2 class="titulo-Rubro" id="electricidad"> Electricidad </h2>
      <br>
      <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
          <div class="card h-100">
            <!--cada img se debe traer de donde quede la imagen subida por el prestador-->
            <img src="./userpro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nombre de Profesional</h5>
              <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
              <a href=""> Ver perfil</a>
            </div>
            <div class="card-footer">
              <!-- formulario para puntuacion, posiblemente deba ir en la ficha del prestador de servicio y
               traerla por href o similar al footer de la tarjeta -->
  
              <form>
                <p class="clasificacion">
                  <input id="radio1" type="radio" name="estrellas" value="5"><!--
                    --><label for="radio1">★</label><!--
                    --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                    --><label for="radio2">★</label><!--
                    --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                    --><label for="radio3">★</label><!--
                    --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                    --><label for="radio4">★</label><!--
                    --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                    --><label for="radio5">★</label>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
    <br>
  
    <div class="contenedor-gral">
      <h2 class="titulo-Rubro" id="mecanica"> Mecanica </h2>
      <br>
      <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
          <div class="card h-100">
            <!--cada img se debe traer de donde quede la  subida por el prestador-->
            <img src="./userpro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nombre de Profesional</h5>
              <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
              <a href=""> Ver perfil</a>
            </div>
            <div class="card-footer">
              <form>
                <p class="clasificacion">
                  <input id="radio1" type="radio" name="estrellas" value="5"><!--
                  --><label for="radio1">★</label><!--
                  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                  --><label for="radio2">★</label><!--
                  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                  --><label for="radio3">★</label><!--
                  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                  --><label for="radio4">★</label><!--
                  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                  --><label for="radio5">★</label>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  
    <div class="contenedor-gral">
      <h2 class="titulo-Rubro" id="jardineria"> Jardineria </h2>
      <br>
      <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
          <div class="card h-100">
            <!--cada img se debe traer de donde quede la  subida por el prestador-->
            <img src="./userpro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nombre de Profesional</h5>
              <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
              <a href=""> Ver perfil</a>
            </div>
            <div class="card-footer">
              <form>
                <p class="clasificacion">
                  <input id="radio1" type="radio" name="estrellas" value="5"><!--
                  --><label for="radio1">★</label><!--
                  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                  --><label for="radio2">★</label><!--
                  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                  --><label for="radio3">★</label><!--
                  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                  --><label for="radio4">★</label><!--
                  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                  --><label for="radio5">★</label>
                </p>
            </div>
          </div>
        </div>  
      </div>
    </div>
  <br>
  
  <div class="contenedor-gral">
    <h2 class="titulo-Rubro" id="tecnico"> Servicio Tecnico </h2>
    <br>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card h-100">
          <!--cada img se debe traer de donde quede la  subida por el prestador-->
          <img src="./userpro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre de Profesional</h5>
            <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
            <a href=""> Ver perfil</a>
          </div>
          <div class="card-footer">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <br>
  <div class="contenedor-gral">
    <h2 class="titulo-Rubro" id="plomeria"> Plomeria </h2>
    <br>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card h-100">
          <!--cada img se debe traer de donde quede la  subida por el prestador-->
          <img src="./userpro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre de Profesional</h5>
            <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
            <a href=""> Ver perfil</a>
          </div>
          <div class="card-footer">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
          </div>
        </div>
      </div>  
    </div>
  </div>
  
  <br>
  
  <div class="contenedor-gral">
    <h2 class="titulo-Rubro" id="gasista"> Gasista </h2>
    <br>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card h-100">
          <!--cada img se debe traer de donde quede la  subida por el prestador-->
          <img src="./userpro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre de Profesional</h5>
            <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
            <a href=""> Ver perfil</a>
          </div>
          <div class="card-footer">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
          </div>
        </div>
      </div>  
    </div>
  </div>
  
  <br>
  
  <div class="contenedor-gral">
    <h2 class="titulo-Rubro" id="cerrajeria"> Cerrajeria </h2>
    <br>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card h-100">
          <!--cada img se debe traer de donde quede la  subida por el prestador-->
          <img src="./userpro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre de Profesional</h5>
            <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
            <a href=""> Ver perfil</a>
          </div>
          <div class="card-footer">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
          </div>
        </div>
      </div>  
    </div>
  </div> 
  
  <br>
  <div class="contenedor-gral">
    <h2 class="titulo-Rubro" id="reformas"> Reformas </h2>
    <br>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card h-100">
          <!--cada img se debe traer de donde quede la  subida por el prestador-->
          <img src="./userpro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre de Profesional</h5>
            <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
            <a href=""> Ver perfil</a>
          </div>
          <div class="card-footer">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
          </div>
        </div>
      </div>  
    </div>
  </div>
  
  <br>
  
  <div class="contenedor-gral">
    <h2 class="titulo-Rubro" id="herreria"> Herreria </h2>
    <br>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card h-100">
          <!--cada img se debe traer de donde quede la  subida por el prestador-->
          <img src="./userpro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre de Profesional</h5>
            <p class="card-text">Breve reseña de las incumbencias del profesional o prestador</p>
            <a href=""> Ver perfil</a>
          </div>
          <div class="card-footer">
            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
          </div>
        </div>
      </div>  
    </div>
  </div>
  
  
  
    <!--intento de vistas  de prestdores-->
  
   
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
    <!--inicio footer-->
    <footer th:replace= "/fragments/footer :: footer"> </footer>
    <!--fin footer-->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>