        /*======================MENU======================*/

        #menu a {
          font-size: 18px;
          font-weight: bold;
          color: #f3f3f3;
        }

        /*======================SLIDER DE IMAGENES======================*/
        .carousel-inner {
          max-height: 29rem;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        header {
          background-color: darkslategray;

        }

        footer {

          color: black;

        }

        .formregistro {
          display: grid;
          place-items: center;
        
          height: 100px;
          width: 200px

        }

        