/*======================MENU======================*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{

<<<<<<< HEAD
		font-family: 'Montserrat Alternates', sans-serif;
}*/
/* Eliminamos los margenes y paddings */

*{
    padding: 0;
    margin: 0; 
    
 font-family: a;
  

}

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #f3f3f3;
}
main{
  margin-top: 150px;
}

/*======================SLIDER DE IMAGENES======================*/
.carousel-inner {
    max-height: 38rem;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

header {
    background-color: rgb(41, 41, 41);
    text-align: right;
   
    width: 100%;
    position: fixed;
    z-index: 100;
    
}

.formregistro {
    display: grid;
    place-items: center;

    height: 100px;
    width: 200px

}

/*=====================Logo=============================*/
.logo{
     border-radius: 55%;
     margin-top: 15px;
     margin-left: 10px;
    
}

.text-logo{
		color: white;
		font-weight: 300;
		font-size: 22px;
		margin-left: 20px;
                text-decoration: none;
                margin-top: 20px;
                
	}

/*=====================Navbar=============================*/

.me-3{
              
		
		padding: 6px;
		line-height: normal;
		text-decoration: none;
		color: black;
		transition: all 0.3s ease;
		border-bottom: 5px solid transparent;
		font-size: 18px;
		margin-right: 5px;
                margin-top: 20px;
}

.me-3:hover{
                border-bottom: 7px solid #d37203;
                color:  white;
		padding-bottom: 5px;
}

/*Las lista dentro de los enlaces*/
.dropdown-item{
                display: block;
		text-decoration: none;
		padding: 20px;
		color: #d37203;
		border-left: 8px solid transparent;
		transition: all 400ms ease;
}
    
.dropdown-menu li a:hover{
    	border-left: 8px solid #d37203;
        background: #d37203;
}

/*=====================Categorias=============================*/

.cabecera .titulo{
    font-size: 50px;
    margin-bottom: 50px;
}
.listado-categorias {
    display: flex;
    flex-wrap: wrap;
}

.categoria{
    width: 20%; 
    box-sizing: border-box;
     text-decoration: none;
     margin-bottom: 10px;
     border-radius: 25%;
     margin-right: 50px;
        
}

.contenedor-img{
       
          border-radius: 10%;
          box-shadow: 0 0 10px rgb(0, 0, 0,0.8);

    text-decoration: none;
    margin-bottom: 50px;
    margin-left: 5px;
    border-radius: 25%;
    margin-right: 50px;
    padding-left: 50px;;
    align-items: center;
    align-content: center;

}


.categoria a{
    text-decoration: none;
    color: black;
}
.categoria a span{
    margin-top: 25px;
    font-size: 25px;
}

/* css footer */

   
#afooter {
    text-decoration: none;
    font-size: 15px;
}

#pfooter {
    font-size: 15px;
}

#afooter:hover {
    color:#fd9d0d !important;
}

#ifooter {
    font-size: 15px;
}

 #lifooter {
    font-size: 15px;
 }

 /* css Perfil Proveedor */
 .nav-top {
  height: 63px; 
  background-color: white !important; 
  border-top:0.5px solid #dbdbdb; 
  border-bottom:1px solid #dbdbdb;
}

.nav-container {
  padding-left: 25% !important; 
  padding-right: 25% !important;
}

@media screen and (max-width: 1605px) {
  .nav-container {
      padding-left: 20% !important; 
      padding-right: 20% !important;
  }
}

@media screen and (max-width: 992px) {
  .nav-container {
      padding-left: 5% !important; 
      padding-right: 5% !important;
  }
}

.img-nav {
  border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%; 
  max-width:30px; 
  max-height:25px;
}

.img-profile {
  border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%; 
  max-width:200px; 
  max-height:150px;
}

.username {
  font-weight: 300; font-size: 28px;
}

.name {
  font-size: 16px; display: inline; font-weight: 600 !important;
}

.profile-datas {
  font-size: 16px;
}

.profile-desc {
  font-size: 16px; 
}

.nav-feed {
  border-bottom: none !important; 
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.nav-link-1 {
  color: #495057;
  background-color: #fafafa !important;
  border-color: gray #fff #fff !important;
  border-top-right-radius: .0rem !important;
  border-top-left-radius: .0rem !important;
  font-size: 12px;
  font-weight: 600;
}

.nav-link-2 {
  color: #a2a8af;
  background-color: #fafafa !important;
  border-color: #fff #fff #fff !important;
  border-top-right-radius: .0rem !important;
  border-top-left-radius: .0rem !important;
  font-size: 12px;
  font-weight: 600;
}


.card {
  border: 0px solid rgba(0,0,0,.125) !important;
  border-radius: .0rem !important;
}

.card .card-img, .card-img-top {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}

.stories{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.form-control {
  border-radius: .15rem !important;
  padding: 0% !important; 
  background-color: #fafafa !important; 
  text-align: center; 
  font-size: 15px !important;
}

.icons {
  padding: 4%; 
  font-size: 25px;
}

.button-edit {
  color: black !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-color: #dae1e7 !important;
}

.btn {
  padding: .100rem .50rem !important;
}

/*=====================background vista registro=============================*/


/*Datos personales prestador*/

.lista-datos {
  width: 50%;
  list-style: none;
  text-align: left;
}

.lista-datos li {
  padding: 5px 0;
}

.lista-datos li>.icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}


/*estilos agregados por guille para vista proveedores*/

 .card{
    
  padding-top: 5px;
  height: 450px;
  box-shadow: 0 0 10px rgba(228, 138, 2, 0.8);
}

.card-img-top {
  width: 100px;
  height: 150px;

  padding: 2px;

  border: 5px solid #666;
  /*border-radius: 50%, 50% ;*/
  text-align: justify;

  margin: auto;
  display:inline;
}


.card-body {
  text-align: center;

}

.titulo-Rubro {

  text-align: center;
}

.enlaces-rubros{
  a{
      text-align: center;
  }

}
.contenedor-gral{

  padding: 10px 20px 10px 300px; 

}

.enlaces-rubros{

  padding: 15px;
}

/*Estilos de la barra lateral*/

/* Resetear estilos por defecto del navegador */
body, h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos de la barra lateral */



.sidebar {
  width: 250px;
  background-color: rgb(235, 113, 31);
  color:  rgb(85, 81, 81);
  padding: 20px;
  position: fixed;
  top: 130px; /* Ajusta esto según tus preferencias */
  left: 20 px;

  bottom: 0;
  text-align: justify;
  height: 800px;
 
}
  .sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: rgb(85, 81, 81);
  text-decoration: none;
}

/* Estilos del contenido principal */
.content {
  margin-left: 250px;
  padding: 20px;
}

/* estilos de la calificacion de estrellas */

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

.clasificacion label {
  color: grey;
  font-size: 25px;
  align-items: center;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  align-items: center;
  margin-right: 100px;

}
.clasificacion p{
  align-items: center;
  align-content: center;
}

label:hover,
label:hover ~ label {
  color: gold;
}

input[type="radio"]:checked ~ label {
  color: gold;
}


/*===============================hasta aca lo de Guille==========================*/

h1.titulo {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  padding: 10px;
  font-size: 5px;
  text-align: center;
  /* Agrega líneas naranjas a los lados */
  border-left: 6px solid orange;
  border-right: 6px solid orange;
  margin-left: 20px; /* Espacio a la izquierda */
  margin-right: 20px; /* Espacio a la derecha */
}

