<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"> </head>

<body>

    <header th:replace="/fragments/header :: header"> </header>


    <form th:action="@{/guardarImagen}" method="POST" enctype="multipart/form-data">
        <div width:300 px align-justify class="mb-3">
            <label for="formFile" class="form-label">Si lo desea, ingrese una foto de
                perfil</label>
            <input class="form-control" type="file" id="formFile" name="archivo" >
        </div>
           <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" class="btn btn-outline-dark" value="guardar">
           </div>
    </form>

    <footer th:replace="/fragments/footer :: footer"> </footer>
</body>

</html>