<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="../static/css/login.css" type="text/css"/>


</head>
<body>
    <form action="/logincheck" method="POST">
        
        <h1 class="text-form">Inicio De Sesiòn</h1>
        <div class="form">
    
     
      <label for="email">Ingrese su email</label> <br>
      <input class="control" type="email" id="email" placeholder="Usuario" required name="email">  
      <br>
      <label for="contra">Contraseña</label> <br>
      <input class="control" type="password" id="contra" placeholder="Contraseña" required name="password"> 
      <br>
   
    
      <input type="submit" value="Iniciar Sesión" class="boton">
     </div>

     <div  class="card">
        
        <div class="card-body">
            <a href="/registrar" class="card-link">Registrarme</a>
            <a href="/" class="card-link">Regresar al inicio</a>
        </div>
         </div>
    
      </form>
    
    
</body>


 <!--inicio footer-->
 <div class="footer">
      <footer th:replace= "/fragments/footer :: footer"> </footer>
 </div>
   
    <!--fin footer-->


</html>