<!DOCTYPE html>
<!--

-->
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>

    <style>
        .footer {
            position: relative;
            z-index: 2; /* Un valor mayor que el z-index del sidebar */
        }
        input[type="radio"] {
            display: none;
        }
        .sidebar {

            z-index: 1; /* Un valor menor que el z-index del footer */
        }

        .card p {

            max-height: 2.0em; /* Aproximadamente dos líneas de texto con un line-height típico. */
            text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto se recorta. */
            overflow: hidden; /* Oculta el texto que excede la altura máxima. */
            white-space: nowrap; /* Evita que el texto se divida en varias líneas. */
        }

        .container{
            position: relative;
        }

    </style>


    <body>



        <header th:replace= "/fragments/header :: header"> </header>


        <!--Barra lateral-->

        <div class="sidebar">
            <h2> Categorías </h2>
            <hr>
            <ul>
                <li><a href="/proveedor/albañil">Albañil</a></li>
                <li><a href="/proveedor/carpintero">Carpintero</a></li>
                <li><a href="/proveedor/electricista">Electricista</a></li>
                <li><a href="/proveedor/jardinero">Jardinero</a></li>
                <li><a href="/proveedor/gas">Gasista</a></li>
                <li><a href="/proveedor/mecanico">Mecanico</a></li>
                <li><a href="/proveedor/plomero">Plomero</a></li>
                <li><a href="/proveedor/tecnico">Tecnico</a></li>



                <!--  <br><br><br><br>
                  <hr>
  
                  <li><a href="#electricidad">Arriba</a></li> esta linea debe apuntar al navbar del fragment-->

            </ul>
        </div>
        <div id="rubros" class="content">

        </div>

        <main >

            <!--            <h1 style="text-align: center" >Nuestros proveedores</h1>
                        <br>-->

            <div class="contenedor-gral" style="margin-top: auto" >
                <div class="usuarios-container">
                    <div class="row ">
                        <div class="col-md-3" th:each="usuario : ${usuarios}" >

                            <div class="card ">
                                <br>
                                <!--cada img se debe traer de donde quede la imagen subida por el prestador-->
                                <img  class="card-img-top" alt="prove" style="width: 150px ;border-radius: 75px "th:src="@{/imagen/perfil/__${usuario.id}__}" >

                                <div class="card-body">
                                    <h4 class="card-title" scope="row" th:text="${usuario.nombre}" style="font-weight: bold" ></h4>
                                    <h6 class="card-text" th:text="${usuario.servicio}" style="font-weight: bold" ></h6>
                                    <p  th:text="${usuario.descripcion}"> </p>
                                    <br>
                                    <a th:href="@{/proveedor/proveedorinfo/__${usuario.id}__}" class="btn btn-outline-secondary"> Ver Perfil</a> 

                                    <a th:href="@{/orden/contratar/__${usuario.id}__}" class="btn btn-outline-warning" > Solicitar Servicio</a>

                                </div>
                                <div class="card-footer">


                                    <form>
                                        <p class="clasificacion" >
                                            <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                            --><label for="radio1">★</label><!--
                                            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                            --><label for="radio2">★</label><!--
                                            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                            --><label for="radio3">★</label><!--
                                            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                            --><label for="radio4">★</label><!--
                                            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                            --><label for="radio5">★</label>
                                        </p>
                                    </form>
                                </div>

                            </div>
                            <br>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </main>
    <hr>


    <!--inicio footer-->
    <footer th:replace="/fragments/footer :: footer"> </footer>
    <!--fin footer-->

</body>
</html>