<!DOCTYPE html>
<!--

-->
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>

        <div>
            <header th:replace= "/fragments/header :: header"> </header>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Tipo Servicio</th>
                    </tr>
                </thead>
                <tbody th:each="usuario : ${usuarios}">
                    <tr>
                        <th scope="row" th:text="${usuario.id}"></th>
                        <td th:text="${usuario.email}"></td> <!-- Cambio a usuario.email -->
                        <td th:text="${usuario.rol}"></td>
                        <td th:text="${usuario.servicio}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="contenedor-gral" style="margin-top: auto" th:each="usuario : ${usuarios}">

                <div class="row row-cols-1 row-cols-md-5 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <!--cada img se debe traer de donde quede la imagen subida por el prestador-->
                            <img src="/image/jardinero.png" class="card-img-top" style="width: 150px; height: 150px; border-radius: 75px" alt="imagen proveedor">
                            <div class="card-body">
                                <h4 class="card-title" scope="row" th:text="${usuario.nombre}"></h4>
                                <h6 class="card-text" th:text="${usuario.servicio}"></h6>
                                <p> </p>
                                <a href=""> Solicitar presupuesto</a>
                            </div>
                            <div class="card-footer">
                                <!-- formulario para puntuacion, posiblemente deba ir en la ficha del prestador de servicio y
                             traerla por href o similar al footer de la tarjeta -->

                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                        --><label for="radio1">★</label><!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                        --><label for="radio2">★</label><!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                        --><label for="radio3">★</label><!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                        --><label for="radio4">★</label><!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                        --><label for="radio5">★</label>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="/fragments/footer :: footer"> </footer>
    </body>
</html>
