<!DOCTYPE html>
<!--
PANEL ADMINISTRADOR
-->
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
    
        <div>
            <header th:replace= "/fragments/header :: header"> </header>
            <h1>Panel del Administrador</h1>
            <p>Bienvenido!</p>
            <p>
                Lista de usuarios<br>
                Panel de funciones<br>
                <a href="/">VOLVER AL INICIO</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="usuario : ${usuarios}">
                    <tr>
                        <th scope="row" th:text="${usuario.id}"></th>
                        <td th:text="${usuario.email}"></td> <!-- Cambio a usuario.email -->
                        <td th:text="${usuario.rol}"></td>
                        <td>
                            <form th:action="@{/admin/cambiarEstado/__${usuario.id}__}" method="POST">
                                
                                <button type="submit">Cambiar Estado</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/admin/eliminarUsuario/__${usuario.id}__}" method="POST">
                                <button type="submit">Eliminar Usuario</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
    </body>
</html>




