<!DOCTYPE html>
<!--
PANEL ADMINISTRADOR
-->
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>



        <div>
            <header th:replace= "/fragments/header :: header"> </header>
        </div>

        <!--Barra lateral-->


        <div class="sidebar">
            <h2> Panel de funciones </h2>
            <hr>
            <ul>
                <li><a href="/admin/ordenar">Listar Usuarios Ordenados</a></li>
                <li><a href="/admin/mostrar">Mostrar Clientes Ordenados</a></li>
                <li><a href="/admin/mostrarPro">Mostrar Proveedores Ordenados</a></li>



                <br>
                <hr>

                <li><a href="/">VOLVER AL INICIO</a></li> 
            </ul>
        </div>
        <div id="rubros" class="content">


        </div>




        <main class="px-10" style="margin-left: 20%" >







            <h1 style="text-align: center">Panel del Administrador </h1>
            <p style="text-align: center">Bienvenido!</p>

            <br> 
            <!--   <p style="text-align: center"> Panel de funciones<br>
                   <a href="/admin/ordenar">Listar Usuarios Ordenados</a> 
                   <a href="/admin/mostrar">Mostrar Clientes Ordenados</a>
                   <a href="/admin/mostrarPro">Mostrar Proveedores Ordenados</a> <br>
                   <a href="/">VOLVER AL INICIO</a>
               </p> -->
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                        <th>Perfil</th>
                    </tr>
                </thead>
                <tbody th:each="usuario : ${usuarios}">
                    <tr>
                        <th scope="row" th:text="${usuario.nombre}"></th>
                        <td th:text="${usuario.email}"></td> <!-- Cambio a usuario.email -->
                        <td th:text="${usuario.rol}"></td>
                        <td>
                            <form th:action="@{/admin/cambiarEstado/__${usuario.id}__}" method="POST">

                                <button type="submit">Cambiar Estado</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/admin/eliminarUsuario/__${usuario.id}__}" method="POST">
                                <button type="submit">Eliminar Usuario</button>
                            </form>
                        </td>
                        <td>
                            <a th:href="@{/admin/verUsuario/{id}(id=${usuario.id})}"><button> Ver perfil</button></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <hr>
    <!--inicio footer-->
    <footer th:replace= "/fragments/footer :: footer" > </footer>
    <!--fin footer-->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</body>
</html>