<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"> </head>

    <body style=" background: url(/image/345397.jpg);  background-repeat: no-repeat;background-size: cover;">
   
        <header th:replace= "/fragments/header :: header"> </header>

        <style>
       
            #contenedor {
    
                width: 450px;
                /* Define el ancho máximo del formulario */
                
                background-color: rgba(255, 188, 43, 0.8);
                /* Fondo semi-transparente */
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                /* Sombra suave */
            }
        </style>

     <main>
    
    <section>
         <div class="container">
        <div class="row" style="margin-left:30% ;">
            <div class="row mb-3 text-center">
                <div class="col-xxl-4 themed-grid-col" th:value="${user.id}" name="id">
                    <img class="img-prestador rounded-circle" width="140" height="140" src="/image/foto-albañil.jpg"></img>
            
                    <h2 class="fs-3" th:text="${user.nombre}" style="color:white"></h2>
                    <h2 class="fs-5" th:text="${user.servicio}" style="color:white"></h2>
                     <div class="card-body">
                        <div col-12 style="text-align: center;">
                            <span class="fa fa-star" style= "color: orange;"></span>
                            <span class="fa fa-star" style= "color: orange;"></span>
                            <span class="fa fa-star" style= "color: orange;"></span>
                            <span class="fa fa-star" style= "color: orange;"></span>
                            <span class="fa fa-star" style= "color: orange;"></span>
                            <p > </p>
                        </div>
                        <div class="bg-white rounded shadow-sm p-1 mb-1 rating-review-select-page">
                           <p th:text="${user.descripcion}" > </p>
                        </div>
                        <br>
                            <button type="button" class="btn btn-warning text-center" >Editar</button>
                    </div>
                    
                </div>
            </div>
                    </div>       
                 </div>
         </section>
   <!--Fin Seccion portada prestador -->
              <hr>


<!--Incio Seccion de opiniones -->
<section>
    <div class="container">
        <div class="bg-white rounded shadow-sm p-4 mb-1 rating-review-select-page">
            <div class="row" th:value="${user.id}" name="id">
                <div class="col-md-6 " >
                    <ul class="lista-datos">
                        <li  ><i class="bi bi-person-bounding-box"></i> <strong>Rol: </strong><span th:text="${user.rol}"></span> </li>
                        <li  class="d-flex align-items-center"><i class="bi bi-envelope-at-fill"></i> <strong>Email:  </strong> <span th:text="${user.email}"></span></li>
                        <li  ><i class="bi bi-telephone-fill"></i> <strong>Telefono: </strong><span th:text="${user.telefono}"></span></li>
                        
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="lista-datos">
                        <li  ><i class="bi bi-clock-fill"></i><strong>Disponibilidad: </strong>  <span th:text="${user.disponibilidad}"></span></li>
                        <li  ><i class="bi bi-card-heading"></i> <strong>Matricula: </strong> <span th:text="${user.matricula}"></span></li>
                        <li  ><i class="bi bi-cash"></i><strong>Metodo de pago: </strong>  <span ></span></li>
                     
                    </ul>
                   
                </div>
            </div>
            
        </div>
        
    </div>
   
</section>

<hr>

<!-- Inicio Seccion ordenes-->

<section class="ordenes"  >
    <div class="container">
        <div class="contenedor">
    <h1 class="text-white" style="margin-left: 30%; " id="contenedor">Mis Ordenes de Servicio</h1>
     </div>
    <br><br>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col" th:each="orden : ${ordenes}">
                <div class="card mb-4 rounded-3 shadow-sm" style="width: 350px">
                  <div class="card-header py-3 bg-dark text-warning">
                    <p>Nombre de cliente:</p>
                    <h4 class="my-0 fw-normal" th:text="${orden.usuario.nombre}"> </h4>
                  </div>
                    <hr>
                    <div class="align-self-center mt-2 mb-auto">
                        <ul class="list-unstyled">
                        <li  class="bi bi-clock-fill"> Barrio: <span th:text="${orden.usuario.barrio}"></span></li>
                        <li  class="bi bi-card-heading"> Manzana: <span th:text="${orden.usuario.manzana}"></span></li>
                        <li  class="bi bi-cash"> Casa: <span th:text="${orden.usuario.casa}"></span></li>
                        <li  class="bi bi-telephone-fill"> Telefono: <span th:text="${orden.usuario.telefono}"></span></li>
                        <li  class="bi bi-envelope-at-fill"> Email: <span th:text="${orden.usuario.email}"></span></li>
                        <hr>
                        <li class="bi bi-envelope-at-fill"> Estado: <span th:text="${orden.estadoServicio}"></span> </l>
            
                        </ul>
                        <br>
                    </div>
                    
                    <div class="group mb-3">
                       <a class="btn btn-primary" type="button" th:if="${#strings.equalsIgnoreCase(orden.estadoServicio, 'PENDIENTE')}" 
                        th:href="@{/orden/aceptada/__${orden.id}__}">Aceptar</a>
                        <a class="btn btn-danger" type="button"  th:if="${#strings.equalsIgnoreCase(orden.estadoServicio, 'PENDIENTE')}" 
                        th:href="@{/orden/rechazada/__${orden.id}__}">Rechazar</a>
                        <a class="btn btn-outline-danger" th:if="${#strings.equalsIgnoreCase(orden.estadoServicio, 'ACEPTADA')}" 
                         th:href="@{/orden/cancelar/__${orden.id}__}"> Cancelar </a>
                        <a class="btn btn-outline-danger" th:if="${#strings.equalsIgnoreCase(orden.estadoServicio, 'ACEPTADA')}" 
                         th:href="@{/orden/finalizar/__${orden.id}__}"> Finalizar </a>
                    </div>
                </div>
            </div>
         </div>  
        </div>
  </section>
</main>
<!-- Fin Seccion ordenes-->


        <footer th:replace="/fragments/footer :: footer"> </footer>
    </body>